#content {
  color: white;
  font-size: 20px;
  padding: 50px;
  text-align: center;
  padding: 30px;
  border: 5px solid black;
  background: rgba(0, 0, 0, 0.7);
}

body{
  padding: 10px 50px;
  background-color: black;
}

h1{
  color: white;
  text-align: center;
  font-family: papyrus;
  font-size: 35px;
}

.navbar {
  text-align: center;
  padding-bottom: 10px;
}

.navbar li {
  display: inline;
  padding: 50px;
}

.navbar a {
  color: white;
}

h2{
  color: white;
  font-size: 30px;
  font-family: 'Aclonica';
}

.options {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1em;
  margin: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.options:active {
  box-shadow: none;
  top: 5px;
}

.endbutton {
  background-color: black;
  box-shadow: 2px 5px 0 grey;
  color: white;
  padding: 1em 1em;
  margin: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.endbutton:active {
  box-shadow: none;
  top: 5px;
}

.backbutton {
  background-color: black;
  color: grey;
  text-decoration: none;
}

.backbutton:hover {
  background-color: red;
}
